/*  Global */
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 50%; }
a, button { cursor: pointer; }
del { text-decoration: line-through; }
ins { text-decoration: none; border-bottom: 3px double; }
img {
    max-width: 100%;
    height: auto;
    padding: 0.2em;
    border: 0.2em solid rgba(52, 73, 94, 0.2);
}
* { box-sizing: border-box; }
html {
    text-rendering: optimizeLegibility;
    font-family: Verdana,Geneva,sans-serif;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    padding-top: 50px;
}
.content h1 {
    border-bottom: 2px solid darkgrey;
}
.navbar {
    border-bottom: 2px solid darkgrey;

}
.navbar a {
    color: black;
}
#social-bar {
    width: 100vw;
    background-color: red;
}

.footer {
    text-align: center;
}
#center-form {
    margin: 0 auto;
    max-width: 30vw;
}

#center-form p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}